@font-face {
    font-family: 'zh-cn';
    src: url('../fonts/zh-cn.ttf');
    font-weight: normal;
    font-style: normal;
}

.scrollbar-dark::-webkit-scrollbar {
  width: 8px;
  height: 8px; 
}

.scrollbar-dark::-webkit-scrollbar-track {
  background: transparent; 
}

.scrollbar-dark::-webkit-scrollbar-thumb {
  background-color: #4b5563; 
  border-radius: 9999px;
}

.scrollbar-dark::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; 
}

/* Firefox support */
.scrollbar-dark {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 transparent;
}


.main-font {
    font-family: 'zh-cn', sans-serif;
}

@media (min-width: 898px) {
  .sideaccs h1 {
    display: inline-flex;
    align-items: center;
    gap: 0.2rem;
    position: relative;
  }

  .sideaccs h1::before,
  .sideaccs h1::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 14px;
    background-image: url('../icon/side-accs.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sideaccs h1::after {
    transform: scaleX(-1);
  }
}